{% extends "shared.html" %}

	{% block titulo%}
  Eliminar Respuesta
	{%endblock%}
	
  {% block Margen %} 
   
   <h3>Administacion de Encuestas</h3>

  {% endblock %}

	{% block content %}
   <h3>Eliminar: {{respuesta.titulo}}</h3>
   <hr/>
   <form action="{% url 'respuesta-delete' encuesta.id pregunta.id respuesta.id %}" class="form-horizontal" method="post">
       {% csrf_token %}

        <h3>Desea Eliminar La respuesta: {{respuesta.titulo}}</h3>
        <br>
        <div class="col-md-offset-2 col-md-7">
               <button id="save_pregunnta" type="submit" class="btn btn-danger">Si Eliminar</button>
               <a href="{% url 'detalle-pregunta' encuesta.id pregunta.id %}" class="btn btn-default">No, Cancelar.</a>
        </div>
               
    </form>


{%endblock%}