{% extends "shared.html" %}

	{% block titulo%}
  Editar Respuesta
	{%endblock%}
	
  {% block Margen %} 
   
   <h3>Administacion de Encuestas</h3>

  {% endblock %}

	{% block content %}
   <h3>Editar respuesta:{{respuesta.titulo}}</h3>
   <hr/>
   <form action="{% url 'respuesta-update' encuesta.id pregunta.id respuesta.id%}" class="form-horizontal" method="post">
       {% csrf_token %}

      <label for="titulo">Titulo</label> 
			<input type="text" name="titulo", value="{{respuesta.titulo}}">

        <div class="col-md-offset-2 col-md-7">
               <button id="save_pregunnta" type="submit" class="btn btn-success">Guardar</button>
               <a href="{% url 'detalle-pregunta' encuesta.id pregunta.id %}" class="btn btn-default">Volver al detalle</a>
        </div>
               
    </form>


{%endblock%}