{% extends "shared.html" %}

	{% block titulo%}
  Editar Pregunta
	{%endblock%}
	
  {% block Margen %} 
   
   <h3>Administacion de Encuestas</h3>

  {% endblock %}

	{% block content %}
   <h3>Editar pregunta:{{pregunta.titulo}}</h3>
   <hr/>
   <form action="{% url 'pregunta-edit' encuesta.id pregunta.id %}" class="form-horizontal" method="post">
       {% csrf_token %}

      <label for="titulo">Titulo</label> 
			<input type="text" name="titulo", value="{{pregunta.titulo}}">

        <div class="col-md-offset-2 col-md-7">
               <button id="save_pregunnta" type="submit" class="btn btndefault">Guardar</button>
               <a href="{% url 'encuesta-view' encuesta.id %}" class="btn btndefault">Volver al detalle</a>
        </div>
               
    </form>


{%endblock%}
