{% extends "shared.html" %}

{% block titulo %}
  Administracion
{% endblock %}

 {% block Margen %} 
   <h3>Administacion de Encuestas</h3>
   {% if user.is_authenticated %}
            <p> Hola {{ user.username }}, Bienvenid@ al asistente para la administracion de Encuestas!</p> 
      
        {% endif %}
  {% endblock %}

{% block content%} 
  
  <h3>Mis Encuestas</h3>
  
   <hr />   
   <a href="{% url 'encuesta-new' %} " class="btn btn-success" >
   <span class="glyphicon glyphicon-plus"></span>Nueva Encuesta</a>
   <br>
   <div class="table-responsive">
       <table class="table table-hover">
           <tr class="success"> 
 
               <th>Encuesta</th>
               <th>Descripcion</th>
               <th>Visitas</th>
               <th>Fecha de Creacion</th>
               <th></th>
               <th></th>
               <th></th>
               <th></th>
               <th></th>
               <th></th>

           </tr>
           {% for encuesta in object_list %}
             <tr> 
 
                 <td>{{ encuesta.nombreEncuesta}}</td>
                 <td>{{ encuesta.descripcion}}</td>
                 <td>{{ encuesta.visitas}}</td>
                 <td>{{ encuesta.fechaCreacion}}</td>
                 <td><a href="{{ encuesta.get_absolute_url }}" class="btn btn-default btn-xs">Ver preguntas y detalle
                     </a>
                  </td>
                  <td><a href="{% url 'responder' encuesta.id %}" class="btn btn-default btn-xs">Responder</a></td>
                  
                  <td><a href="{% url 'encuesta-delete' pk=encuesta.id %}"class="btn btn-default btn-xs">Eliminar</a></td>
                  <td><a href="{% url 'encuesta-edit' pk=encuesta.id %}" class="btn btn-default btn-xs">Editar</a></td>
                  <td><a href="{% url 'resultado' encuesta.id %}" class="btn btn-default btn-xs">Resultados</a></td>
                  <td><a href="https://www.facebook.com/sharer/sharer.php?u=http://10.10.60.210:8000{% url 'responder' encuesta.id %}" class="btn btn-default btn-xs">Compartir en fb</a></td>

 


               

             </tr> 
           {% endfor %}
       </table>
   
        

   </div> 
{% endblock %}


{% block menu %}
<nav class="navbar navbar-inverse navbar-static-top navbarheader-background" role="navigation">
  <div class="container">
      <a href="{% url 'encuesta-list' %}" class="navbar-brand">Control de Encuestas</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/cerrar"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock menu %}