{% extends "shared.html" %}

{% load staticfiles %}

	{% block titulo%}
	  		Lo sentimos
		{%endblock%}

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>


		 {% block Margen %} 
		   
		   <h3>Lo sentimos, {{error_message}}</h3>

		  {% endblock %}



		  {% block content %}
			<h3>No seas tramposo, ya votaste, mejor comparte la encuesta con tus amigos</h3>
			<br>
			<div class="btn btn-default" data-href="http://10.10.60.210:8000/responder/{{encuesta.id}}" data-layout="box_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F10.10.60.210%3A8000%2Fresponder%2F{{encuesta.id}}&amp;src=sdkpreparse"><img src="{% static 'img/fb.ico' %}" alt="Compartir en fb">    Compartir en fb</a></div>
			<a href="{% url 'resultado' encuesta.id %}" class="btn btn-default">Resultados</a>
			

		  {% endblock %}
