{% extends 'shared.html'%}
{% block titulo %}
	Inicio
{% endblock titulo %}
{% block menu %}
<nav class="navbar navbar-inverse navbar-static-top navbarheader-background" role="navigation">
  <div class="container">
  	  <a  class="navbar-brand">Control de Encuestas</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/ingresar"><span class="glyphicon glyphicon-log-in"></span> Acceder</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock menu %}

{% block content %}
	
{% endblock content %}