{% extends 'shared.html'%}




{% block titulo %}
	Inicio
{% endblock titulo %}
{% block menu %}
<nav class="navbar navbar-inverse navbar-static-top navbarheader-background" role="navigation">
  <div class="container">
  	  <a  class="navbar-brand">Control de Encuestas</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/ingresar"><span class="glyphicon glyphicon-log-in"></span> Acceder</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock menu %}





</head>

 <div class="col-md-12" > 
            {% block content %}
               <h2>Bienvenido al sistema de encuestas</h4> 
               <h3>Para acceder debes tener una cuenta</h3>
               <h4>En caso de no tenerla, contacta con el administrador</h2>
            {% endblock %}
 </div>
 <br>
 <br>
 <br>
