{% extends "shared.html" %}

	{% block titulo%}
  Nueva respuesta
	{%endblock%}
	
 {% block Margen %} 
   
   {%if messages %}
       <h3>Administacion de Encuestas</h3>
      <br>
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
  
  {%else%}
    <h3>Administacion de Encuestas</h3>

  {%endif%}

  {% endblock %}

	{% block content %}
   <h3>Nueva respuesta para la pregunta: {{pregunta.titulo}}</h3>
   <hr/>
   <form action="{% url 'respuesta-new' encuesta.id  pregunta.id %}" class="form-horizontal" method="post">
       {% csrf_token %}

      <label for="titulo">Titulo</label> 
			<input type="text" name="titulo">
        <br>
        <br>
        <div class="col-md-offset-2 col-md-7">
               <button id="save_respuesta" type="submit" class="btn btn-success">Guardar</button>
               <a href="{% url 'detalle-pregunta' encuesta.id pregunta.id %}" class="btn btn-default">Volver al detalle</a>
        </div>
               
    </form>


{%endblock%}
