{% extends "shared.html" %}

<style>
	body { margin-top:20px; }
.panel-body:not(.two-col) { padding:0px }
.glyphicon { margin-right:5px; }
.glyphicon-new-window { margin-left:5px; }
.panel-body .radio,.panel-body .checkbox {margin-top: 0px;margin-bottom: 0px;}
.panel-body .list-group {margin-bottom: 0;}
.margin-bottom-none { margin-bottom: 0; }
.panel-body .radio label,.panel-body .checkbox label { display:block; }
</style>


{% block Margen %} 

	{%if messages %}
	    	<h3>{{encuesta.nombreEncuesta}}</h3>
	    	<br>
		    <ul class="messages">
			    {% for message in messages %}
			      <li class="{{ message.tags }}">{{ message }}</li>
			    {% endfor %}
		    </ul>
		
	{%else%}
			<h3>{{encuesta.nombreEncuesta}}</h3>

	{%endif%}

{% endblock %}

{% block content%}
	
	<form action="{% url 'votar' encuesta.id %}" method="post"> 
		{% csrf_token %}

		{%for pre in preguntas%}
			<b><h3>{{forloop.counter }}. {{ pre.titulo }}</h3></b>
			{%	 for respuesta in pre.respuesta_set.all %} 
			 <div class="checkbox">
				<input type="radio" name="pp{{ pre.id}}" id="respuesta{{forloop.counter }}" value="{{ respuesta.id }}" />
				<label for="respuesta{{ forloop.counter }}"> {{respuesta.titulo }}</label><br /> 
			</div>
			{%	 endfor %}
		{%	 endfor %}
			<br>
			<br>
			 <script src='https://www.google.com/recaptcha/api.js'></script>
    		 <div class="g-recaptcha" data-sitekey="6Lc8jCcUAAAAANzKHx_VX8_TMXJriz89NwvlSLLq"></div>
    		 <br>
			 <br>
			 <button  type="submit" class="btn btn-success btn-right">Votar</button>
			 <a href="{% url 'resultado' encuesta.id %}" class="btn btn-default">Resultados</a>
	</form>
 			


{% endblock %}

